html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: sans-serif;
}
  
header {
  display: flex;
  width: 100%;
  height: 60px;
}

.header-left {
  flex: .8;
  display: flex;
  align-items: center;
}

.header-middle {
  flex: 1.2;
  display: flex;
  align-items: center;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-size: 70%;
  color: inherit;
}

.top {
  color: white;
}

.header-left {
  justify-content: flex-end;
}

.img-top {
  height: 40px;
  width: 40px;
  border: 1px solid lightgray;
  border-radius: 50%;
  overflow: hidden;
}

.img-top img {
  height: 100%;
}

.header-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-middle p {
  margin: 0px;
  padding: 0px;
}

.hmt {
  color:rgb(70, 70, 70);
}

.hmb {
  color:rgb(53, 53, 99);
  font-weight: bold;
  font-size: 17px;
}

.header-right {
  justify-content: flex-start;
}

.header-right a {
  margin-right: 40px;
  text-decoration: none;
  padding-right: 5px;
}

.top a {
  color: white;
  border-bottom: 1px solid white;
}

.mtop a {
  color:rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
}

.sticky a {
  border-bottom: 1px solid ;
}

.landing-page {
  height: 100vh;
  overflow: hidden;
  background: url("./ct/lp.jpg");
  background-size: 100vw;
}

.landing-page img {
  width: 100%;
}

.lp-sections {
  height: 100%;
  display: flex;
}

.lp-middle {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lp-middle p {
  margin: 0px;
  
}

.lat  {
  font-size: 68px;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.lab {
  font-weight: bold;
  font-size: 80px;
  color: rgb(53, 53, 99);
}

.lp-left {
  flex: .8
}

.lp-middle {
  flex: 1.2
}

.lp-right {
  flex: 1;
}

.history {
  background: url("./ct/hist.jpg");
  background-size: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.history-top {
  flex: 2;
  display: flex;
  align-items: center;
}

.title-left {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.htr {
  flex: 5;
}

.title-right {
  display: flex;
  align-items: flex-start;
  text-align:start;
  flex-direction: column;
}

.title-left p {
  margin: 0px;
  padding: 0px;
  color:rgba(53, 53, 99, 0.425);
  font-size: 100px;
  font-weight: bold;
}

.title-right h2 {
  margin: 0px;
  padding: 0px;
  color:rgb(53, 53, 99);
}

.title-right div {
  height: 20px;
  width: 20px;
  background-color: rgba(53, 53, 99, 0.425);
  margin-top: 20px;
}

.history-middle {
  flex: 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.history-middle div {
  width: 50%;
}

.history-middle div p {
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
}

.history-carousel {
  flex: 2;
  background-color: rgba(31, 31, 65, 0.918);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.history-carousel .carousel {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel div {
  flex: 1;
  padding: 5px;
}

.carousel div img {
  width: 100%;
}

.history-carousel .buttons {
  display: flex;
  width: 50px;
  justify-content: space-evenly;
}

.history-carousel .buttons div {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: gray;
}

.history-carousel .buttons div:hover {
  background-color: white;
}

.climb {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.climb-top {
  width: 100%;
  display: flex;
  align-items: center;
}

.ctlp {
  padding-right: 15px;
}

.ctr {
  flex: .5;
}

.climb-blurb {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  font-weight: lighter;
}

.climb-blurb div {
  width: 75%;
}

.climb-nav {
  display: flex;
  background-color: rgb(49,48,80);
  width: 100%;
}

.cnl {
  flex: 1
}

.climb-nav ul {
  flex: 2;
  list-style-type: none;
  display: flex;
}

.cnr {
  flex: 3;
}